.scrollable {
    height: 20em; /* or any value */
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #343434;
    border-radius: 1em;
}

.messages {
    width: 40vh;
}

.star {
    background-color: #2C2C2C;
    border-radius: 1em;
    width: 40vw;
    display: flex;
    flex-direction: column; /* Keeps the title and box stacked vertically */
    align-items: center;    /* This centers the children horizontally */
    justify-content: center; /* Optional: centers the content vertically as well */
}

.out-star {
    display: flex;
    flex-direction: column; /* Keeps the title and box stacked vertically */
    align-items: center;    /* This centers the children horizontally */
    justify-content: center; /* Optional: centers the content vertically as well */
}