.scrollable {
    height: 20em; /* or any value */
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #343434;
    border-radius: 1em;
}

.messages {
    width: 40vh;
}

.star {
    background-color: #2C2C2C;
    border-radius: 1em;
}